body {
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 100%;
	max-width: 1920px;
	-webkit-box-shadow: -1px -2px 26px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -2px 26px -3px rgba(0,0,0,0.75);
box-shadow: -1px -2px 26px -3px rgba(0,0,0,0.75);
}

section{
	padding-bottom: 50px;
}
.shopping-menu li {
 	display: inline-block;
 	margin: 10px;
 	text-decoration: none;
}

.menu-list li {
 	display: inline-block;
 	margin: 10px;
 	text-decoration: none;
}

li a{
	text-decoration: none;
}


.menu-list {
	margin: 2% 0;
	font-size: 15px;
	width: 50%;
	float: left;
	transition: .5s;
}

.menu-list li a{
	color: black;
}

.menu-list li a:hover{
color: orange;

}

.shopping-menu {
	margin: 1% 0; 
	width: 50%;
	float: right;
	color: orange;
	font-size: 25px;
	transition: .5s;
}
.shopping-menu li a{
	color: orange;
}
.shopping-menu li a:hover{
	color: black;
}


.shopping-menu ul {
	padding-left: 40%
}

.clear{
	clear: both;
}
.main-menu {
	width: 100%;
	height: 100px;
	
}
.logo {
	float: left;
 	width: 42%;
 	padding: 3%;
 }
.search {
	float: right;
	font-size: 25px;
	width: 46%;
  margin: 4% 2%;
}
.search a {
	color: orange;
	padding-left: 96%;
	transition: .5s;
}

.search a:hover {
	color: black;
}

.test{
	-webkit-box-shadow: -1px -10px 35px -6px rgba(166,153,166,1);
	-moz-box-shadow: -1px -10px 35px -6px rgba(166,153,166,1);
	box-shadow: -1px -10px 35px -6px rgba(166,153,166,1);
	border-bottom: none;
	width: 100%;
	height: 150px;
}

.items-menu {
	border: 1px solid lightgray;
	font-size: 0;
}

.items-menu li{
	float: left;
	padding:0 25px;
	font-size: 12px;
	list-style-type: none;
	border: 1px solid lightgrey;
	border-top: none;	
}

.items-menu ul{
	display: inline-block;
	padding-left: 15%;
	transition: .5s;
}

.items-menu ul li a:hover {
	color: orange;
}

.items-menu ul li a{
	transition: .5s;
}

.items-menu ul li img {
	padding: 15px;
	width: 40px;
  height: 40px;
  display: block;
  margin: auto
}
.content {
	width: 100%;
}
.content img {
	width: 100%;
	background-size: cover;
}
 .items-menu ul li a span {
 	display: inline-block;
 	padding: 20px;
 }


.main-items{
	margin: 0 auto;
}

.main-items ul {
 width: 48%;
 margin: 0 auto;
}


.main-items ul li {
 	display: inline-block;
  list-style-type: none;
  margin: 15px;
  padding: 35px;
  text-transform: uppercase;
  font-size: 20px;
  transition: .5s;
}

.main-items ul li a{
	transition: .5s;

}
.main-items ul li a:hover{
	color: orange;

}


.items-descr{
    margin: 3%;
}

.items-descr img{
	background-color:#e6e6e65c;
  width: 160px;
  padding: 5%;
  margin: 1%;
}

.items-descr h2 {
	color: orange;
	font-size: 16px;
	font-weight: normal;
}

.items-descr h5 {
	font-weight: normal;
	color: #a09292;
    padding-bottom: 0px;
    margin-bottom: 20px;
    min-height: 40px;
    font-size: 20px;
    line-height: 24px;
}

.ratingbox {
	margin: 15px 0;
	color: #f49712;
}

..ratingbox i {
	font-size: 13px;
    width: 15px;
}

.price{
	margin: 10px 0;
	font-size: 21px;
    line-height: 26px;
    overflow: hidden;
    min-height: 26px;
    font-weight: 500;
}

.addtocart ul{
	padding-left: 0;
}


.addtocart ul li{
    font-size: 15px;
    color: #cbcbcb;
    padding-left: 5px;
    display: inline-block;
}
.addtocart ul li a{
	color:#847b7b5c;
	transition: .5s;
}
.addtocart ul li a:hover {
	color: orange;
}

.addtocart {
	width: 50%;
	float: left;
}
.price {
	width: 50%;
	float: left;
}

.itemsforsell {
	float: left;
	width: 15%;
	margin: 1% 0;
	padding-left: 20px;
}
 .viewall {
 	margin: 40px;
 	text-align: right;
    padding-bottom: 20px;
    padding-right: 0px;
    text-transform: uppercase;
    color: #f49712;
    font-size: 16px;
    line-height: 24px;
 }
 .viewall a{
 	text-decoration: none;
 }

.main-top {
	background-color: #e0e5e7;
	float: left;
	width: 100%;
	
}
.top-items {
	border-left: 1px solid #d7d1d1;
	float: left;
	width: 49%;
}
.bestseller {
	width: 50%;
	float: left;
}

.bestseller img {
	display: block;
  margin: auto;
	width: 200px;
	height: 200px;
}
.bottom {
	background-color: orange;
  width: 120px;
  height: 40px;
  color: white;
  cursor: pointer;
  transition: .5s;
  border: none;
  text-transform: uppercase;
}
.bottom:hover {
	background-color: black;
}

.addtocart-second ul li {
	font-size: 30px;
  color: #cbcbcb;
  padding-left: 5px;
  display: inline-block;
}

.addtocart-second ul li a {
	color: #847b7b5c;
	transition: .5s;
}

.addtocart-second ul li a:hover {
	color: orange;
}

.blog-tittle {
	text-align: center;
  
    font-size: 24px;
    line-height: 30px;
    margin: 50px;
    padding: 0;
    text-transform: uppercase;
}

.blog {
	padding-left: 20px;
	float: left;
	width:32%;

}


.blogs-photo img {
	width: 450px;
}

.blog h3 { 
	color: orange;
	margin-bottom: 10px;
	font-weight: 400;
}

.blog h5 {
	color: #cbcbcb;
	font-weight: 200;
}
.blog span {
	font-size: 14px;
	font-weight: 400;
	transition: .5s;
	padding: 20px 0;
}

.blog span:hover {
	color: orange;
}

.footer {
	background-color: #262626;
	width: 100%;
	height: 430px;
}

.item-content{
	width: 18%;
  padding: 40px;
  height: 350px;
  border-left: 1px solid #908989;
  float: left;

}

.item-content h2 {
	    font-size: 16px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 26px;
}


.item-content h5 {
	font-size: 14px;
    line-height: 28px;
    font-weight: 300;
    color: #757575;
    max-width: 350px;
    padding-bottom: 26px;
}

.button-2 {
	width: 90px;
  height: 41px;
  margin-bottom: 15px;
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
  transition: .5s
}

.button-2:hover {
	background-color: #d02e0f;

}

.into-content a {
	padding: 10px;
	text-decoration: none;
	font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: #fff;
}
.into-content a:hover {
	color: orange;
}

.item-content i {
color: orange;
padding: 5px;
}

.item-content ul li {
	padding-left: 0;
	list-style-type: none;
}

.item-content li  a{
	  color: #ffff;
    font-size: 14px;
    line-height: 34px;
    font-weight: 300;
}

.footer-row {
	padding: 20px;
	border-top: 1px solid #908989;
	background-color: black;
}
.footer-row span {
	color:  #757575;
}
.footer-row  a{
	margin-left: 5px;
	font-size: 14px;
	color: orange;
	text-decoration: none;
	transition: .5s;
}
.footer-row a:hover {
	color: white;
}

































